<a href="https://colab.research.google.com/github/AgooThi/Exemplo01/blob/master/Aula03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Variáveis - são espaços na memória do computador
# Que Armazenam dados para serem processados

# Uma Variável tem um nome que a identifica no sistema
# Uma variável pode ou não ter um valor
# Uma Variável sempre terá um tipo de dados relacionadas a ela

In [1]:
# Exemplo de declaração de variáveis
x = 10
print (x)

10

In [4]:
print (10) # Literal

10

In [5]:
print (x+x)

20

In [6]:
print (x/x)

1.0

In [ ]:
# Float é um tio de dados da computação que representa os numéros reais
# ou seja, com casas decimais

In [7]:
# Descobrir tipos de dados
x = 10
y = 2.3
print (x, y)

10 2.3

In [9]:
print (x, '\n', y)

10
 2.3

In [13]:
# verificando o tipo de uma variável
type (x)

int

In [12]:
type (y)

float

In [15]:
# Texto (Strings)
# Ex.: Agothi Silveira
# Ex.: Thiago Silveira

# Para que um valor sea considerado como uma string
# Ele deve estar entre ASPAS
print ('Thiago Siveira') # Literal

Thiago Siveira

In [25]:
nome = 'Agothi Silveira'
print (nome + '\t' + nome)
# Quando estamos trabalhando com Strings, o sinal de "+"
# significa uma concatenação, ou seja "juntar"

Agothi Silveira	Agothi Silveira

In [29]:
nome = 'Thiago Silveira'
idade = 17
complemento = 'anos'
print (nome, 'tem', idade, complemento)

Thiago Silveira tem 17 anos

In [33]:
# convertando um tipo de inteiro para String
print (str(idade) + ' ' + complemento)

17 anos

In [34]:
n1 = 10.2
n2 = 8
print (int(n1) + n2)

18

In [43]:
# Vamos melhorar a nossa formatação de saída
formato = '{0} \n{1} {2}'
print (formato.format(nome, idade, complemento))

Thiago Silveira
17 anos

In [ ]:
# Adição +
# Subtração -
# Multiplicação *
# Divisão /

# Exponenciação ** (Potência)
# Parte inteira //
# Módulo %

In [56]:
n1 = 5
n2 = 4

# Potência
print (n1**n2) # 5 elevado a 2

625

In [55]:
# Parte inteira de um valor
print (n1/n2)
print (n1//n2)

1.25
1

In [58]:
# Resto de uma divisão (Módulo)
n1 = 5
n2 = 2
print (n1 % n2)

1

In [60]:
# Para que serve um módulo?
print (6 % 2)

0

In [64]:
# Operadores Relacionais
# São os operadores de comparação
# Maior, menor, menor igual, maior igual, diferente

In [65]:
# <> esse símbolo é conhecido como diamond (diamante)
# ! A exclamação significa negação

False

In [66]:
# O símbolo "=" significa ATRIBUIÇÃO (ou recebe)
# Enquanto para comparar uma igualdade deve-se usar o "=="

False

In [67]:
# Em algumas ocasiões especiais, precisamos saber se a igualdade é, de fato,
# igual tanto em valor quanto ao tipo de dado

n1 = 10
n2 = 10.0
print (n1==n2)

True

In [ ]:
# Operadores Lógicos
# AND significa 'e'
# OR significa 'or'
# NOT significa 'não'

In [74]:
n1 = 10
n2 = 10.0
print (n1 == n2) and (type(n1) == (type(n2)) )

True

In [ ]:
# Conversões
# Absoluto: abs(x)
# Converter para inteiro: int(x)
# Conerter para real: float(x)
# Converter para String: str(x)

In [77]:
# Como usar o teclado do Python
entrada = input ("Digite um valor")
print (entrada)

Digite um valordelta
delta

In [88]:
a = 1
b = 12
c = -13
print (b*b - 4 * a * c)

196